<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
	</configSections>
	<connectionStrings>
  <add name="Gerenciador.Properties.Settings.CST" connectionString="Data Source=database-1.crswk2qkmrkd.us-east-1.rds.amazonaws.com;Initial Catalog=db_gerenciador_financeiro;User ID=admin;Password=TMpKLa23#;" />
 </connectionStrings>
</configuration>